  <div class='login-text-wrapper'>
    <h1><span class='title'>RideShare</span></h1>
    <br>
    <p><span class='tagline_question'>Going some place?</span></p>
    <p>Find out whether their is an Andelan who is going to your destination.</p>
    <p><span class='invitation'>Offer or Request for a Ride</span></p>
    <br>
    <div class='login-button'>
      <%= link_to image_tag('login_button.png'), user_google_oauth2_omniauth_authorize_path %>
    </div>
  </div>
